footer{
    background-image: url(../../../../public/assets/sangyupsal_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

input, textarea{
    background-image: url(../../../../public/assets/back_img_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: center;
}